:root {
  --primary-color: green;
  --primary-color-hover: rgb(30, 204, 30);
  --secondary-color: orange;
  --secondary-color-hover: rgb(255, 192, 75);
  --background-color: rgb(241, 241, 185);
  --background-color-2: beige;
  --title: "Noto Serif HK", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.section-title {
  color: black;
}

.section-heading {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  font-family: "Noto Serif HK", serif;
}

.para-primary {
  color: white;
  font-size: 1.5rem;
}

.para-secondary {
  color: black;
}
